/**
 * Typography
 *
 * Styleguide 2
 */

@font-face {
  font-family: "AkzidenzGroteskBE-Light";
  src:
    url("./fonts/AkzidenzGroteskBE-Light.eot") format("eot"),
    url("./fonts/AkzidenzGroteskBE-Light.otf") format("otf"),
    url("./fonts/AkzidenzGroteskBE-Light.svg") format("svg"),
    url("./fonts/AkzidenzGroteskBE-Light.ttf") format("ttf"),
    url("./fonts/AkzidenzGroteskBE-Light.woff") format("woff");
}

@font-face {
  font-family: "AkzidenzGroteskBE-BoldCn";
  src:
    url("./fonts/AkzidenzGroteskBE-BoldCn.eot") format("eot"),
    url("./fonts/AkzidenzGroteskBE-BoldCn.otf") format("otf"),
    url("./fonts/AkzidenzGroteskBE-BoldCn.svg") format("svg"),
    url("./fonts/AkzidenzGroteskBE-BoldCn.ttf") format("ttf"),
    url("./fonts/AkzidenzGroteskBE-BoldCn.woff") format("woff");
}

@font-face {
  font-family: "AkzidenzGroteskBE-Medium";
  src:
    url("./fonts/AkzidenzGroteskBE-Medium.otf") format("otf"),
    url("./fonts/AkzidenzGroteskBE-Medium.ttf") format("ttf");
}

@mixin font-bold {
  font-family: 'AkzidenzGroteskBE-Medium', sans-serif;
  font-weight: $bold;
  line-height: 1;
  text-transform: uppercase;
}

@mixin font-light {
  font-family: 'AkzidenzGroteskBE-Medium', sans-serif;
  font-weight: $light;
  line-height: 1;
  text-transform: none;
}

@mixin font-medium {
  font-family: 'AkzidenzGroteskBE-Medium', sans-serif;
  font-weight: $regular;
  line-height: 1;
  text-transform: none;
}

html {
  color: $color--darkergrey;
  font-family: 'AkzidenzGroteskBE-Medium', sans-serif;
  font-size: $font-size;
  font-weight: $regular;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Headers
 *
 * h1 - First level heading
 * h2 - Second level heading
 * h3 - Third level heading
 *
 * markup:
 * <{$modifiers}>{$modifiers}. Heading example</{$modifiers}>
 *
 * Styleguide 2.1
 */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include font-bold;
}

h1,
.h1 {
  margin: 44px 0 12px;
  font-size: $h1-size;
  line-height: 48px;
  font-weight: $regular;
}

h2,
.h2 {
  margin: 37px 0 11px;
  font-size: $h2-size;
  line-height: 130%;
}

h3,
.h3 {
  margin: 23px 0 9px;
  font-size: $h3-size;
  line-height: 32px;
}

h4,
.h4 {
  margin: 25px 0 7px;
  font-size: $h4-size;
  line-height: 32px;
}

h5,
.h5 {
  margin: 26px 0 6px;
  font-size: $h5-size;
  line-height: 32px;
}

h6,
.h6 {
  margin: 26px 0 4px;
  font-size: $h6-size;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: $font-size;
}
