html {
  color: $color--darkergrey;
  font-family: Helvetica, sans-serif;
  font-size: $font-size;
  font-weight: $light;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-light;

  line-height: 1.4;
  margin: 10px 0 20px;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
    margin: 10px 0 30px;
  }
}

h1 {
  font-size: $h1-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h1-size;
  }
}

h2 {
  font-size: $h2-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h2-size;
  }
}

h3 {
  font-size: $h3-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h3-size;
  }
}

h4 {
  font-size: $h4-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h4-size;
  }
}

h5 {
  font-size: $h5-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h5-size;
  }
}

h6 {
  font-size: $h6-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h6-size;
  }
}

p {
  margin: 20px 0;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color--darkergrey;

  &:hover {
    text-decoration: underline;
  }
}

.inner {
  margin: 0 auto;
  max-width: 1240px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  @include font-bold;

  padding-left: 20px;
}
