/**
 * Typography
 */

@font-face {
  font-family: "Akzidenz Grotesk";
  font-weight: 300;
  src: url("../fonts/AkzidenzGroteskBE-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Akzidenz Grotesk";
  font-weight: 400;
  src: url("../fonts/AkzidenzGroteskBE-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Akzidenz Grotesk";
  font-stretch: normal;
  font-weight: 700;
  src: url("../fonts/AkzidenzGroteskBE-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Akzidenz Grotesk";
  font-stretch: condensed;
  font-weight: 700;
  src: url("../fonts/AkzidenzGroteskBE-BoldCn.ttf") format("truetype");
}

@mixin font-light {
  font-weight: $light;
}

@mixin font-medium {
  font-weight: $regular;
}

@mixin font-bold {
  font-stretch: normal;
  font-weight: $bold;
}

@mixin font-bold-condensed {
  font-stretch: condensed;
  font-weight: $bold;
}

html {
  color: $color--darkergrey;
  font-family: "Akzidenz Grotesk", sans-serif;
  font-size: $font-size;
  font-weight: $light;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-light;

  line-height: 1.4;
  margin: 10px 0 20px;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
    margin: 10px 0 30px;
  }
}

h1 {
  font-size: $h1-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h1-size;
  }
}

h2 {
  font-size: $h2-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h2-size;
  }
}

h3 {
  font-size: $h3-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h3-size;
  }
}

h4 {
  font-size: $h4-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h4-size;
  }
}

h5 {
  font-size: $h5-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h5-size;
  }
}

h6 {
  font-size: $h6-size--mobile;

  @media screen and (min-width: 768px) {
    font-size: $h6-size;
  }
}

p {
  margin: 20px 0;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color--darkergrey;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
}

main {
  padding: 20px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding: 40px;
    padding-bottom: 140px;
  }
}

.inner {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  @include font-bold;

  padding-left: 20px;
}
