// Include your base theme styles here

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color--darkergrey;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

main {
  padding: 0 20px;
  padding-top: 200px;
  padding-bottom: 65px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}

img {
  width: 100%;
  height: auto;
}
