.footer {
  background-color: $color--darkergrey;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: right;

  &__text {
    @include font-bold;

    display: inline-block;
    vertical-align: middle;
    color: $color--white;
    margin-right: 20px;
    margin-top: 2px;
    font-size: $font-size-small;
  }

  .social-links {
    display: inline-block;
    vertical-align: middle;

    &__link {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px;
      padding: 9px 20px;

      &:last-child {
        margin-right: 0;
      }

      &--instagram {
        background-image: svg-load('instagram.svg');
      }

      &--facebook {
        background-image: svg-load('facebook.svg');
      }
    }
  }
}
