.greeting {
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 680px;
    font-size: 0;
  }

  &__image {
    border-radius: 100%;
    width: 65%;
    max-width: 300px;
    margin: 0 auto;
    display: block;

    @media screen and (min-width: 768px) {
      display: inline-block;
      max-width: none;
      width: 46%;
      margin-right: 4%;
      vertical-align: middle;
    }
  }

  &__text {
    text-align: center;

    h1 {
      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    @media screen and (min-width: 768px) {
      display: inline-block;
      text-align: left;
      width: 46%;
      margin-left: 4%;
      vertical-align: middle;
    }
  }
}
