.header {
  background-color: $color--white;
  border-bottom: 1px solid $color--grey;
  padding: 20px 0;

  @media screen and (min-width: 768px) {
    font-size: 0;
    padding: 10px 0;
  }

  &__logo {
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 15%;
      text-align: left;
      display: inline-block;
      vertical-align: middle;
    }

    img {
      height: 80px;
      vertical-align: bottom;
      border-radius: 100%;
    }
  }

  .nav {
    text-align: center;
    vertical-align: top;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 70%;
      text-align: center;
      padding: 0;
      margin-top: 0;
    }

    > * {
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 5px 10px;

        @media screen and (min-width: 768px) {
          padding: 5px 15px;
        }
      }

      @media screen and (min-width: 768px) {
        > .lang-item {
          margin-left: 20px;

          ~ .lang-item {
            margin-left: 0;
          }
        }
      }

      a {
        font-weight: $regular;
        color: $color--darkergrey;
        position: relative;
        vertical-align: bottom;

        img {
          vertical-align: bottom;
          margin-bottom: 8px;
        }

        @media screen and (min-width: 768px) {
          font-size: $h6-size;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          width: 0;
          height: 1px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $color--darkergrey;
          transition: width 0.1s ease;
        }

        &:hover {
          text-decoration: none;

          &::after {
            @media screen and (min-width: 768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .social-links {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
      width: 15%;
      text-align: right;
    }
  }
}
