$leading-unit: 8px;

$light: 300;
$regular: 400;
$bold: 700;

$font-size: 16px;
$font-size-small: 13px;
$h1-size: 32px;
$h1-size--mobile: 26px;
$h2-size: 30px;
$h2-size--mobile: 24px;
$h3-size: 26px;
$h3-size--mobile: 22px;
$h4-size: 22px;
$h4-size--mobile: 20px;
$h5-size: 20px;
$h5-size--mobile: 18px;
$h6-size: 18px;
$h6-size--mobile: 16px;
$h7-size: 16px;
